@charset "utf-8";
body{
	background-image: url("slike/4.jpg");
	margin:0;
	padding:0;
}
.main {
	display:flex;
	justify-content:center;
}
.sadrzaj {
	background-color: rgba(112, 158, 146, 0.8);
	padding:20px 50px 20px 50px;
}
p, a, h1, h2{
	font-family: 'Raleway', sans-serif;
	color:white;
}
h1, h2 {
	background-color:#114145;
	text-align:center;
	padding:10px;
}
p {
	font-size:20px;
	max-width:600px;
	padding:10px;
	line-height:30px;
	background-color:#185c61;
	text-align:center;
}
a{
	font-size:20px;
	text-decoration:none;
	text-align:center;
}
a:hover{
	color:#ad351d;
	padding-right:10px;
	border-right: 5px solid red;
}
li{
	color:white;
	font-family:'Verdana';

}
blockquote {
	color:white;
}
img {
	width:300px;
}